# Pandas
Ejercicios

In [1]:
import pandas as pd

In [2]:
s = pd.Series (['Matemáticas ', ' Historia', ' Economía', 'Programación', 'Inglés '], dtype='string')
print(s)

0    Matemáticas
1        Historia
2        Economía
3    Programación
4         Inglés
dtype: string

## Creación de una serie a partir de un diccionario

In [3]:
s = pd.Series({'Matemáticas': 6.0 , ' Economía': 4.5 , 'Programación': 8.5})
print(s)

Matemáticas     6.0
 Economía       4.5
Programación    8.5
dtype: float64

In [5]:
s.size #Devuelve el número de elementos de la serie s
s.index #Devuelve una lista con los nombres de las filas del DataFrame s
s.dtype #Devuelve el tipo de datos de los elementos de la serie s

dtype('float64')

In [9]:
s = pd.Series([ 1 , 2 , 2 , 3 , 3 , 3 , 4 , 4 , 4 , 4 ])
print(s.size)
print(s.index)
s.dtype

10
RangeIndex(start=0, stop=10, step=1)

dtype('int64')

## Acceso por posición

Accesopor posición
Se realiza de forma similar a como se accede a los elementos de un array.
- s[i ]: Devuelve el elemento que ocupa la posición i+1 en la serie s
- s[posiciones ]: Devuelve otra serie con los elementos que ocupan las posiciones de la
lista posiciones

Acceso por índice
- s[nombre ]: Devuelve el elemento con el nombre nombre en el índice
- s[nombres ]: Devuelve otra serie con los elementos correspondientes a los nombres indicadas en la lista nombres en el índice

In [14]:
s = pd.Series({'Matemáticas': 6.0 , 'Economía': 4.5 , 'Programación': 8.5})
           
s[ 1 : 3 ]

s['Economía']

s[['Programación','Matemáticas']]

Programación    8.5
Matemáticas     6.0
dtype: float64

## Aplicar operaciones a una serie

In [31]:
s =pd.Series([ 1 , 2 , 3 , 4 ])

print(s * 2)

print(s % 2)

s = pd.Series ([' a', ' b', 'c'])

s * 5

0    2
1    4
2    6
3    8
dtype: int64
0    1
1    0
2    1
3    0
dtype: int64

0     a a a a a
1     b b b b b
2         ccccc
dtype: object

:

## Aplicar funciones a una serie

s.apply( f): Devuelve una serie con el resultado de aplicar la función f a cada uno de loselementos de la serie s

In [23]:
from math import log

s = pd.Series([ 1 , 2 , 3 , 4])
s.apply (log)

0    0.000000
1    0.693147
2    1.098612
3    1.386294
dtype: float64

In [24]:
s = pd.Series ([' a', ' b', 'c'])

s.apply( str.upper )

0     A
1     B
2     C
dtype: object

## Filtrar una serie

Para filtrar una serie y quedarse con los valores que cumplen una determinada condición se utiliza el siguiente método
- s[condicion ]: Devuelve una serie con los elementos de la serie s que se corresponden con el valor True de la lista booleana condicion condicion debe ser una lista de valores booleanos de la misma longitud que la serie

In [25]:
s = pd.Series({'Matemáticas': 6.0 , 'Economía': 4.5 , 'Programación': 8.5})
print(s[s > 5 ])

Matemáticas     6.0
Programación    8.5
dtype: float64

## Ordenar una serie

In [27]:
s = pd.Series({'Matemáticas': 6.0 , 'Economía': 4.5 , 'Programación': 8.5})
print( s.sort_values ())
print( s.sort_index (ascending = False ))

Economía        4.5
Matemáticas     6.0
Programación    8.5
dtype: float64
Programación    8.5
Matemáticas     6.0
Economía        4.5
dtype: float64

## Eliminar datos desconocidos

Los datos desconocidos representan en Pandas por NaN y los nulos por None . Tanto unos como otros suelen ser un problema a la hora de realizar algunos análisis de datos , por lo que es habitual eliminarlos

In [30]:
import numpy as np
s = pd.Series ([' a', ' b', None , ' c', np.NaN , 'd'])
s

s.dropna ()

0     a
1     b
3     c
5     d
dtype: object